@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row" style="background: url('/images/slide01.jpg'); padding: 15px 5% 15px 5%; color: #eeeeee">
                <div class="col-sm-6 col-md-5 text-center" style="padding-top: 50px">
                    <h3>
                        THE BEST LAUNCHER<br/>FOR OSX AND WINDOWS:
                    </h3>
                    <h2>JAMES</h2>
                    <a class="btn btn-default btn-primary btn-lg" href="#">
                        DOWNLOAD NOW
                    </a>
                </div>
                <div class="col-sm-6 col-md-7">
                    <img src="/images/james.png" width="100%"/>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row" style="background: url('/images/slide01.jpg'); padding: 15px 5% 15px 5%; color: #eeeeee">
                <div class="col-sm-6 col-md-5 text-center" style="padding-top: 50px">
                    <h3>
                        THE BEST LAUNCHER<br/>FOR OSX AND WINDOWS:
                    </h3>
                    <h2>JAMES</h2>
                    <a class="btn btn-default btn-primary btn-lg" href="#">
                        DOWNLOAD NOW
                    </a>
                </div>
                <div class="col-sm-6 col-md-7">
                    <img src="/images/james.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-5">
        <img src="/images/smallJames.png" width="100%" />
    </div>
    <div class="col-md-7">
        <h3>Search for files</h3>
        <p>
            When developing James, our team invented a powerful Search-Algorithm enabling you to find files faster than ever before. Utilizing a priority-based system to sort your search results, the file you're looking for is only a few keystrokes away. These priorities automatically adjust, so the more you use James the better it's going to get. You can also tweak them yourself, using cmd/ctrl + up/down.<br/>
            Moreover does the search provide a variety of options besides opening the files and folders. For example, by pressing cmd, or ctrl on windows, your filemanager will pop up, showing you where the search result actually is.<br/>
            Other features include auto-completion and quick-look support, making James the most awesome launcher that has ever existed.
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-7 hidden-xs hidden-sm">
        <h3>Configure your Search Scope</h3>
        <p>
            Other than tools like Spotlight, James allows your to define exactly where he's gonna search. Define rules like: "My desktop is the most important folder", "I don't want to find txt files inside my movie folder", "Never index any bin directories" or "Prefer cpp over py files".<br/>
            Of course there's a default configuration, if you don't want to mess around with these things.<br/>
            But just in case, having possibilities like that is pretty nice, isn't it?
        </p>
    </div>
    <div class="col-md-5">
        <img src="/images/smallJames.png" width="100%"/>
    </div>
    <div class="col-md-7 visible-xs-block visible-sm-block">
        <h3>Configure your Search Scope</h3>
        <p>
            Other than tools like Spotlight, James allows your to define exactly where he's gonna search. Define rules like: "My desktop is the most important folder", "I don't want to find txt files inside my movie folder", "Never index any bin directories" or "Prefer cpp over py files".<br />
            Of course there's a default configuration, if you don't want to mess around with these things.<br />
            But just in case, having possibilities like that is pretty nice, isn't it?
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <img src="/images/smallJames.png" width="100%"/>
    </div>
    <div class="col-md-7">
        <h3>Extend James with Workflows</h3>
        <p>
            James ships with an immensely powerful Workflow-Editor, which takes launchers to the next level. It allows even none-programmers to extends the launcher using a simple drag & drop system.<br/>
            Viewing the weather forecast, setting timers, searching youtube - even opening SAP transactions is possible.<br/>
            Create your very own Workflows to increase your productivity!
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-7 hidden-xs hidden-sm">
        <h3>Collaborate</h3>
        <p>
            Once you've created a Workflow it can be uploaded into the James-Clound right away. Share your work with others use what others have built!<br/>
            The James Package Manager allows your to access the work of people from around to world and installs it in a matter of seconds.
        </p>
    </div>
    <div class="col-md-5">
        <svg class="svg"/>
    </div>
    <div class="col-md-7 visible-xs-block visible-sm-block">
        <h3>Collaborate</h3>
        <p>
            Once you've created a Workflow it can be uploaded into the James-Clound right away. Share your work with others use what others have built!<br />
            The James Package Manager allows your to access the work of people from around to world and installs it in a matter of seconds.
        </p>
    </div>
</div>
<script>
    data = [
    { "label": "Windows @ViewBag.Windows", "value": @ViewBag.Windows },
    { "label": "Both @ViewBag.Both", "value": @ViewBag.Both },
    { "label": "OS X @ViewBag.OSX", "value": @ViewBag.OSX }
    ];
</script>